PORT=your_port
NODE_ENV="development" or "production" or "test"

REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="your_access_token_secret_here"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="your_refresh_token_secret_here"
JWT_REFRESH_EXPIRES_IN="7d"